.app-dep-info {
  margin: 20px;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0px 1px 10px -1px #000000;
  padding-top: 10px;
}

.pricing-title {
  color: #369;
  text-decoration: underline;
}

.table-css {
  background: transparent;
}

.app-monitoring-info {
  margin: 20px;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0px 1px 10px -1px #000000;
  padding-top: 10px;
}

.currency-value strong::before {
  content: none; /* Supprime le symbole du dollar ajouté automatiquement par la directive currency */
}

.currency-value strong::after {
  content: ' $'; /* Ajoute le symbole du dollar à la fin du contenu */
}

.tableStyle {
  width: 100%;
  border-collapse: collapse;
}

.tableStyle, .thStyle, .tdStyle {
  border: 1px solid black;
}

.thStyle, .tdStyle {
  padding: 8px;
  text-align: left;
}

thead {
  background-color: #f2f2f2;
}

