.app-dep-info {
  margin: 20px;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0px 1px 10px -1px #000000;
  padding: 10px;
  padding-left: 30px;
}

.pricing-title {
  color: #369;
  text-decoration: underline;
}

.green{
  color: green;
}

.red {
  color: red;
}



.table-css {
  background: transparent;
}

.app-monitoring-info {
  margin: 20px;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0px 1px 10px -1px #000000;
  padding: 10px;
  padding-left: 30px;
}

.currency-value strong::before {
  content: none; /* Supprime le symbole du dollar ajouté automatiquement par la directive currency */
}

.currency-value strong::after {
  content: ' $'; /* Ajoute le symbole du dollar à la fin du contenu */
}
