<div class="container">
  <main>
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last" style="padding-top: 20px;">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Services</span>
          <span class="badge bg-primary rounded-pill">{{calculatedSevices.length}}</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm" *ngFor="let service of calculatedSevices; let i=index">
            <div>
              <h6 class="my-0">{{service.name}}</h6>
              <small class="text-body-secondary">{{service.desc}}</small>
            </div>
            <span class="text-body-secondary">{{ service.price | currency:'USD':'symbol':'2.2-2' }}</span>
            <span (click)="removeService(service)" style="cursor: pointer; padding-left: 10px;">
              <i class="bi bi-trash"></i>
            </span>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <span>Total</span>
            <strong>price</strong>
          </li>
        </ul>
      </div>


      <div class="col-md-7 col-lg-8" style="padding: 20px;">
        <h4 class="mb-3">EKS Deployment Calculator</h4>

        <div class="section" *ngFor="let service of services">
          <div>
            <h1 class="desc-title" (click)="toggleSection(service)" style="box-shadow: 0px 2px 12px 0px #000000; overflow: hidden;">
              <button class="round-button">
                <i class="bi {{ShowModule(service.name) ? 'bi-caret-down-fill' : 'bi-caret-right-fill'}}"></i>
              </button>
              {{service.name}}
            </h1>
          </div>
          <div class="service-info" *ngIf="ShowModule(service.name)" style="margin-bottom: 30px;">
            <form class="needs-validation" (submit)="onSubmit(depForm, service)" #depForm="ngForm" novalidate>
              <div class="form-group" *ngFor="let prop of service.prop; let i = index" style="padding-top: 10px;">
                <label for="{{prop.field}}" class="form-label" style="padding-left: 10px;"><strong>{{prop.field}}</strong></label>

                <div *ngIf="prop.type === 'text'" class="input-group has-validation">
                  <input type="text" class="form-control" id="{{prop.field}}" name="{{prop.field}}" [(ngModel)]="prop.value">
                </div>

                <div *ngIf="prop.type === 'dropdown'" class="input-group has-validation">
                  <select class="form-select" id="{{prop.field}}" name="{{prop.field}}" [(ngModel)]="prop.value">
                    <option value="" disabled selected>Select</option>
                    <option *ngFor="let choice of prop.choices" [value]="choice">{{choice}}</option>
                  </select>
                </div>

                <div *ngIf="prop.type === 'radio'" class="input-group has-validation" style="display: flex; flex-direction: column;">
                  <div *ngFor="let choice of prop.choices" style="display: flex; gap: 5px;">
                    <input type="radio" id="{{choice}}" name="{{prop.field}}" value="{{choice}}" [(ngModel)]="prop.value">
                    <label for="{{choice}}">{{choice}}</label>
                  </div>
                </div>
            </div>
              <hr class="my-4">
              <button class="w-100 btn btn-primary btn-lg" type="submit">Add To Calcul</button>
            </form>
          </div>
        </div>






      </div>
    </div>
  </main>
</div>
