.desc-title {
  color:#369;
  background-color: #dfdede;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  gap : 10px;
  cursor: pointer;
}


.round-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.round-button i {
  font-size: 24px;
  margin-top: 3px; /* Ajustez selon les besoins pour centrer le triangle */
}

