.themed-grid-col {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.EKS {
  margin-bottom: 30px;
  border: 1px solid rgba(112.520718, 44.062154, 249.437846, .3);
  border-radius: 12px;
  background-color:#161929;
  color: white;
}

.AKS {
  margin-bottom: 30px;
  border: 1px solid rgba(112.520718, 44.062154, 249.437846, .3);
  border-radius: 12px;
  background-color: #161929;
  color: white;
}

.comparaison {
  border: 1px solid rgba(112.520718, 44.062154, 249.437846, .3);
  border-radius: 12px;
  color: white;
  background-color: #161929;
}
