<div class="container" style="height: 100%; overflow: auto;">
  <div class="row mb-3" style="display: flex; justify-content: center;">

    <!-- Première colonne -->
    <div class="col-md-4 themed-grid-col">

      <!-- Première ligne -->
      <div class="pb-3 EKS" style="padding-top: 10px; padding-left: 10px;">

        <div style="max-width: 100%; display: flex; justify-content: center; padding: 15px;">
          <img src="../assets/eks_simu.png" style="max-width: 100%; height: 200px;" />
        </div>
        <h2>Simulateur EKS</h2>
        <div style="display: flex; justify-content: flex-end; padding-right: 10px;">
          <button class="btn btn-light ms-2" (click)="choise('eks')">
            View more
            <i class="bi bi-chevron-double-right"></i>
          </button>
        </div>
      </div>

      <!-- Deuxième ligne -->
      <div class="pb-3 AKS" style="padding-top: 10px; padding-left: 10px;">

        <div style="max-width: 100%; display: flex; justify-content: center; padding: 15px;">
          <img src="../assets/aks_simu.png" style="max-width: 100%; height: 200px;" />
        </div>
        <h2>Simulateur AKS</h2>
        <div style="display: flex; justify-content: flex-end; padding-right: 10px;">
          <button class="btn btn-light ms-2" (click)="choise('eks')">
            View more
            <i class="bi bi-chevron-double-right"></i>
          </button>
        </div>
      </div>

    </div>

    <!-- Deuxième colonne -->
    <div class="col-md-5 themed-grid-col">
      <div class="p-2 comparaison text-break">
        <h2>Comparaison EKS/AKS</h2>
        <div style="max-width: 100%; display: flex; justify-content: center; padding: 15px;">
          <img src="../assets/eksVaks.jpeg" style="max-width: 100%; height: 200px;" />
        </div>
        <p>
          Vous pouvez réaliser une comparaison au niveau des performances et des coûts pour le déploiement de vos applications entre le choix d'AKS ou d'EKS.
        </p>
        <div style="display: flex; justify-content: flex-end; padding-right: 10px;">
          <button class="btn btn-light ms-2" routerLink="aks">
            View more
            <i class="bi bi-chevron-double-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
