<div class="d-flex flex-nowrap" style="height: 100%;">
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 100%;" *ngIf="showMe">
  <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none pt-4">
    <svg class="bi" width="32" height="32" fill="currentColor">
      <use xlink:href="bootstrap-icons.svg#heart-fill"/>
    </svg>
    <span class="fs-4">Services</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="" [class]="'nav-link text-white ' + (clique === 'home' ? 'active' : '')" aria-current="page" (click)="cliquer('home')">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
        Home
      </a>
    </li>
    <li>
      <a [class]="'nav-link text-white ' + (clique === 'calcul' ? 'active' : '')" aria-current="page" (click)="cliquer('calcul')">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
        {{currentRoute == '/' || currentRoute == '/comparaison' ? 'Estimate deployment': 'Calcul'}}
      </a>
    </li>
    <li *ngIf="currentRoute != '/' && currentRoute != '/comparaison'">
      <a [class]="'nav-link text-white ' + (clique === 'performance' ? 'active' : '')" (click)="cliquer('performance')">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
        Performance
      </a>
    </li>
    <li *ngIf="currentRoute != '/' && currentRoute != '/comparaison'">
      <a [class]="'nav-link text-white ' + (clique === 'result' ? 'active' : '')" (click)="cliquer('result')">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
        Result
      </a>
    </li>
    <!--<li>
      <a href="#" [class]="'nav-link text-white ' + (clique === 'apps' ? 'active' : '')" (click)="cliquer('apps')">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
        APPs
      </a>
    </li>-->
  </ul>
  <hr>
</div>
</div>
